# Ігноруємо системні файли та кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігноруємо віртуальне оточення
.venv
venv/
env/

# Ігноруємо файли IDE
.idea/
.vscode/

# Ігноруємо файл зі змінними середовища (якщо будемо використовувати)
.env
